@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamBookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/GothamBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Gotham" !important;
}
